	div.top{
		background-color: #B3A211;
		height: 130px;
		text-align: center;
		vertical-align: center;
	}

	body{
		background-color: #01191D;
	}

	h1{
		color: black;
		text-shadow: -4px 4px 6px white;
		font-size: 400%
	}

	h2{
		color: white;
		font-family: cursive;
	}

	td{
		vertical-align: center;
	}
	div.body{
		-webkit-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 30px;
		column-gap: 30px;
		-webkit-column-rule: 1px outset black;
		column-rule: 1px outset black;
	}

	button{
		padding: 6px;
		font-size: 14px;
		border-radius: 4px;
	}


	input.frontpage{
		width: 10%;
		padding: 6px;
		font-size: 14px;
		border-radius: 4px;
	}

	input.button{
		width: 80px;
		padding: 6px;
		font-size: 14px;
		border-radius: 4px;
		color: white;
		font-family: cursive;
		background-color: #282929;
	}

	input.button:hover{
		background-color: #B3A211;
		text-decoration: underline overline;
		color: black;
	}
	
	label {
		width: 200px;
		font-size: 14px;	
	}

	select{
		padding: 6px;
		font-size: 14px;
		border-radius: 4px;

	}

	input{
		padding: 6px;
		font-size: 14px;
		border-radius: 4px;
	}


	img.bg{
		width: 1800px;
		height: 600px;
		border-radius: 8px;
	}

	p.error{
		text-align: center;
		font-size: 20px;
		font-family: cursive;
		color: white;
	}
	
	p.form{
		font-size: 20px;
		font-family: cursive;
		color: white;
	}

	table.form {
		border: 2px solid white;
	}

	input.send{
		background-color: #282929;
		color: white;
		font-family: cursive;
		font-size: 20px;
		border-radius: 4px;
		width: 150px;
	}

	input.send:hover{
		background-color: #B3A211;
		text-decoration: underline overline;
		color: black;
	}

	button.register {
		background-color: #282929;
		color: white;
		font-family: cursive;
		font-size: 14px;
		border-radius: 4px;
		width: 80px;
	}

	button.register:hover{
		background-color: #B3A211;
		text-decoration: underline overline;
		color: black;
	}



	